/* Gallery Style */
body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
#fitgallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:10px; /* give it a 10px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:10px;
    column-count:5;
    column-gap:10px;
 }
 #fitgallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:10px; /* to match column gap */
 }