body {
    font-family: sans-serif;
}
.flex {
    display: flex; 
    gap: var(--gap, 1rem);
}
/* Nav bar and header style */
#logo {
    margin: 2rem;
}
.primary-header {
    justify-content: right;
    display: flex;
    padding: 15px;
    right: 20px;
}
.primary-navigation {
    list-style: none;
    text-align: right;
    padding: 5px;
    margin: 0;
    display: flex;
}
.primary-navigation a {
    text-decoration: none;
    text-align: right;
}
h1 {
    text-align: center;
    color:rgb(184, 114, 242);
    font-size: 40px;
    letter-spacing: 0.1em;
    padding: 18px;
}
/* List style */
ul {
    text-decoration: none;
}
#links {
    list-style-type: none; 
    font-size: 20px;
    line-height: 1.9;
}

/* Link styles */
#links a {
    text-decoration: none;
    color: rgb(46, 39, 39);
}
#links:hover {
    text-decoration: underline;
}
p{
    text-align: center;  
}
